<div class = "well indstillinger" style = "margin-top: 1em">
  <p>{{_txtService.txt.get('infoToUser')}}</p>
  <!--
  <div class = "center-section">
      <div *ngFor="let fristGroup of _textMapper" class = "">
          
        <h4>{{_txtService.txt.get(fristGroup.id)}}</h4>
      
        <div *ngFor = "let frist of fristGroup.types">
          <input type="checkbox" [id] = "frist" (click) = "_settingService.flipValue(frist)" [checked] = "setChecked(frist)">
          <label [for] = "frist">{{_txtService.txt.get(frist)}}</label>
        </div>
      
      </div>

  </div>   -->
  <div class = "row">
      <div class = "col-sm-4" *ngFor = "let column of structure">
          <div *ngFor = "let fristGroup of column" class = "pull-some-right">
            <h3 class = "heading-frister">{{_txtService.txt.get(fristGroup.id) | FirstLetterToCapital}}</h3>
           
            <div *ngFor = "let frist of fristGroup.types">
                <input type="checkbox" [id] = "frist" (click) = "_settingService.flipValue(frist)" [checked] = "setChecked(frist)">
                <label [for] = "frist">{{_txtService.txt.get(frist) | FirstLetterToCapital}}</label>
              </div>
          </div>
      </div>
    </div>
  

    <div class = "text-center indstillinger-close">
        <button type = "button" class = "btn btn-primary">
            {{_txtService.txt.get('visKalenderKnap')}}
        </button>
    
        <p class = "cookie-info">{{_txtService.txt.get('infoOmCookie')}}</p>
    </div>



</div>

