<!--The content below is only a placeholder and can be replaced.-->
  
  <h1 class = "text-center">
    Din virksomheds kommende frister
  </h1>

  <!--<app-deadline-object [deadlines] = "deadLineMainObs | async"></app-deadline-object>-->
  <app-deadline-godt-for-start [data] = "godtFraStartObs | async"></app-deadline-godt-for-start>
  <div class = "text-center">
      
      <button (click) = "antalFrister = antalFrister + 3" type = "button" class = "as-anchor">
        <span class = "badge">+</span>
        Vis flere 
      </button>   
  </div>
 
 


  
  
