
  <div [hidden] = "!visGodtFraStart">
      <h1 class = "text-center">
          Din virksomheds kommende frister
      </h1>

      <ng-container *ngIf = "_stateService.userSettings.isUntouched === false">
        <div class = "center-section kalender-indstillinger">
            <button type = "button" (click) = "showindstillinger = !showindstillinger" class = "indstillinger-toggle">
                <span>Tilpas kalenderen</span>
                <span class = "indstillinger-icon"> </span>
            </button>
          </div>
        
          <app-kalender-indstillinger *ngIf="showindstillinger"></app-kalender-indstillinger>
    
          <ng-container *ngIf = "_stateService.userSettings.fristerShown.length > 0" >
              <app-deadline-godt-for-start [number] = "_stateService.antalFrister" [data] = "_stateService.godtFraStartObs | async"></app-deadline-godt-for-start>
              <div class = "text-center">
                  
                  <button (click) = "_stateService.antalFrister = _stateService.antalFrister + 3" type = "button" class = "as-anchor">
                    <span class = "badge">+</span>
                    Vis flere 
                  </button>   
              </div>
          </ng-container>

      </ng-container>
      
      <div *ngIf = "_stateService.userSettings.isUntouched === true">
          <app-init-view></app-init-view>
      </div>
    
    
      
      

 

  </div>


  
  
  <!--
  <div class = "align-center">
    <h2>skatdk kalender</h2>
      
    <app-skatdk-calender-list [data] = "deadLineMainObs | async"></app-skatdk-calender-list>
      
    <hr>
  
    <button class = "btn btn-small pull-left"><</button>
    <button class = "btn btn-small pull-right">></button>
    
    
  </div>
  -->




  
  
