/* You can add global styles to this file, and also import other style files */
body {
    background: #a6f4f754 !important
}

.frist-main {
    padding:0.5em 0;
}

.main-category {
    font-weight: bold;
}

.period-print {
    padding-left: 3em;
}

.period-date {
    padding-left: 3em;
}

.center-deadlines {
    margin: 0 auto;
    width: 45em;
}

.deadline-options > div {
    padding: 0.5em 0;
}

.list-group-item.odd-list-item {
    background: #ececece6;

}

button.laeringspakke {
    padding: 0.3em 1.3em;
    padding-left: 3em;
    background: purple;
    color: white;
}

button.as-anchor {
    background: transparent;
    border: none;
    text-decoration: underline;
}

.icon-inside-button {
    max-height: 1.5em;
    max-width: 1.5em;
    position: absolute;
    left: 2em;
}

.very-small-icon {
    max-height: 1em;
    max-width: 1em;
}

.align-center {
    max-width: 45em;
    margin: 0 auto;
}

app-kalender-indstillinger label {
    font-weight: normal;
}

app-root .indstillinger-icon:after {
    content: '\e940';
    font-family: 'dap-ikon-font';
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.center-section {
    text-align: center;
}

.indstillinger-boxed {

    max-width: 20em;
}

.center-section h4 {
    padding: 0.5em;
    border-bottom: 1px dotted gray;
}

.init-pligter label {
    display: inline;
}

h3.heading-frister {
    margin-top: 1em;
}

.pull-some-right {
    padding-left: 1em;
}

a.dap-aktionslink-skatdk {
    background: #FFC61E;
    color: #000;
}


a.dap-aktionslink {
    background-color: #395F77;
    display: block;
    padding: 2.3rem 6.3rem;
    color: #FFF;
    text-decoration: none;
    margin: 1rem 0 0;
    text-align: center;
    transition: all .3s;
}