<div class = "well">

  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <p>
          {{_txt.txt.get('introNewVirksomhed')}}
      </p> 

      <hr>

      <!--
      <app-ja-nej
      [(value)] = "momsregistreret"
      label = "Er din virksomhed momsregistreret, dvs. forventer du en omsætning over 50.000 kr."
      ></app-ja-nej>
      -->

      <app-skat-datovaelger-input-felt
        [(model)] = "date"
        label = "Dato virksomhed starter"
        feltId = "test"
      >
      </app-skat-datovaelger-input-felt>

      <br>

      <h3> {{_txt.txt.get('typicalDeadlines')}}
        <button type = "button" (click) = "showalltypes = !showalltypes" class = "small-button">{{toggleVis()}}</button>
      </h3>

      <div *ngFor = "let pligt of  getFristtypes(); let i = index" class = "init-pligter">
          <input type = "checkbox" [id] = "pligt" (click) = "_state.flipValue(pligt)" [checked] = "setChecked(pligt)"> 
          <label [for] = "pligt">{{_txt.txt.get(getHeader(pligt))}} - {{_txt.txt.get(pligt)}}</label>
      </div>

     

      




      <hr>
    
      <button type = "button" class = "btn btn-primary" (click) = "update()">ok</button>
    </div>

  </div>



  
</div>