<div class = "center-deadlines">
  <div class = "row">
    <!-- janus ændring -->
      <div class = "col-md-3 col-md-offset-3">
          
          <div class="period-print">
            <img [src] = "srcGroupIcon()" class = "icon-small icon-inside-button">
            <span class="main-category"> {{printMainLabel()}} </span>
            {{printPeriod()}} 
          </div> 
            
          <div class="period-date">
            {{print_date()}}
          </div>      
      </div>

      <div class = "col-md-6">
          <div class = "deadline-options">
              <div>     
                  <span *ngFor = "let laeringspakke of getLaeringsPakker()" >       
                      <a [href] = "getUrlOfLaeringsPakke(laeringspakke)" target="_blank">
                        <button type = "button" class = "laeringspakke">
                            <img [src] = "srcOfIcon(laeringspakke)" class = "icon-small icon-inside-button">  
                          Få hjælp til {{getLaeringsPakkeNavn(laeringspakke)}}
                        </button>  
                    </a>
                  </span>       
              </div>
              <div>   
                  
                  <button type = "button" class = "as-anchor" (click) = "toogleCalenderTransferOpen = !toogleCalenderTransferOpen">
                    Tilføj til kalender <img class = "arrow" [src] = "getArrow()">
                  </button>

              </div>
             
                <app-transfer-to-calender [hidden] = "!toogleCalenderTransferOpen" [deadline] = "deadline"></app-transfer-to-calender>   
              
                    
          </div>   
      </div>  

  </div>
</div>



